<div class="form-container">
    <div class="card col-lg-3 col-md-6">
        <h4 class="card-header">Mot de passe oublié</h4>
        <div class="col-md-11">

            <div class="card-body">
                <div class="mb-3">  
                    
       
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              
                <div class="form-group">
                    <label for="lastName">Email</label>
                    <input formControlName="Email" type="text" 
                    class="form-control" [style.border]="'0.5px solid #C0C0C0'" placeholder="Email ...">
                    
                </div>
                <br/>

                <!-- <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input formControlName="Password"
                    type="password" class="form-control" [style.border]="'0.5px solid #C0C0C0'" placeholder="Mot de passe...">
                    <div *ngIf="form.get('Password')?.invalid && (form.get('Password')?.dirty || form.get('Password')?.touched)">
                        <div *ngIf="form.get('Password')?.errors?.['required']" [style.color]="'red'">Password is required.</div>
                    </div>
                </div> -->
                <br>
                <button type="submit" class="btn btn-primary">Mot de passe oublié</button>
                <a routerLink="/Login"  style="margin-left: 1rem;" class="btn btn-secondary">Login</a>
            </form>
        </div>
    </div>
</div>
</div>
</div>
