<div class="quiz-container">
   
  <div style="margin: 25px 50px 50px 50px">
    <div style="margin-bottom: 10px;">


      <div class="container mt-5">
        <div class="text-center mb-5">
          <h1 class="quiz-title">{{ quizInfo.name }}</h1>
        </div>
        <div *ngIf="currentQuestion" class="quiz-card shadow p-4 bg-white">
          <div class="question-content">
            <h4>{{ currentQuestion.content }}</h4>
          </div>
          <div *ngFor="let option of currentQuestion.options" class="option-item" (click)="currentSelectedOptionId = option.id">
            <input type="radio" [id]="option.id" name="option" [value]="option.id" [(ngModel)]="currentSelectedOptionId">
            <label [for]="option.id">{{ option.content }}</label>
          </div>
          <div class="navigation">
            <button *ngIf="currentQuestionNo !== 0" class="btn btn-primary previous-arrow" (click)="previous()">
              <span>&larr;</span>
            </button>
            <button *ngIf="currentQuestionNo === quizInfo.questions.length - 1" class="btn btn-primary" (click)="submit()">Envoyer</button>
            <button *ngIf="currentQuestionNo !== quizInfo.questions.length - 1" class="btn btn-primary next-arrow" (click)="next()">
              <span>&rarr;</span>
            </button>
          </div>
        </div>
      </div>
      
      
      
      
</div>